<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансии</title>
    <link rel="stylesheet" type="text/css" href="/static/vacancies.css">
</head>
<body>
    <!-- Хедер с названием сайта и кнопками -->
    <div class="header">
        <h1 onclick="window.location.href='/employers'">HHforURFU</h1>
        <nav>
            <button onclick="window.location.href='/home'">Сайт для соискателей</button>
            <button onclick="window.location.href='/employers/responses'">Отклики</button>
            <button onclick="window.location.href='/employers/vacancies'">Мои Вакансии</button>
            <button onclick="window.location.href='/employers/profile'">Профиль</button>
        </nav>
    </div>
        <div class="button-container">
            <button class="add-vacancy-button" onclick="window.location.href='/employers/addVacancy'">Добавить новую вакансию</button>
        </div>
        <div class="vacancy-list">        
        {{ if .Vacancies }}
            <h2 class="available-vacancy">Мои вакансии</h2>
            {{ range .Vacancies }}
                <div class="vacancy-item" onclick="window.location.href='/employers/vacancy/id-{{ .ID }}'">
                    <h3 id="title">Вакансия:  {{ .Title }}</h3>
                    <p id="company"><strong>Компания:</strong> {{ .Company }}</p>
                    <p><strong>Описание:</strong> {{ .Description }}</p>
                    <p><strong>Статус вакансии:</strong> {{ .Status }}</p>
                    <div class="tag-container">
                        {{ range .Tags }}
                            <span class="tag">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ else }}
        <h2 class="available-vacancy">Нет доступных вакансий</h2>
        {{ end }}
    </div>
    <script type="module">
        import { checkToken } from '/static/js/authEmployers.js';
        document.addEventListener('DOMContentLoaded', () => {
            checkToken();
        });
    </script>
</body>
</html>
