body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ограничиваем ширину контейнера */
    box-sizing: border-box; /* Учитываем отступы и padding */
}
input {
    width: 90%; /* Ширина полей ввода меньше контейнера */
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.seeker{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.button-seeker{
    width: 45%;
}

button {
    width: 90%; /* Ширина кнопок также меньше */
    padding: 12px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
button:hover {
    background-color: #0056b3;
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        max-width: 90%;
    }
    input, button {
        width: 90%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        max-width: 95%;
    }
    input, button {
        width: 90%;
        padding: 8px;
    }
}